@font-face {
    font-family: 'Replica Mono Trial';
    src: url('./replica-mono/ReplicaMonoTrial-Regular.woff2') format('woff2'),
        url('./replica-mono/ReplicaMonoTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}