@font-face {
    font-family: 'Replica Mono Trial';
    src: url('./replica-mono/ReplicaMonoTrial-Regular.woff2') format('woff2'),
        url('./replica-mono/ReplicaMonoTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('./gt-pressura/GTPressuraMono.woff2') format('woff2'),
        url('./gt-pressura/GTPressuraMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('./gt-pressura/GTPressuraMonoTrial-Bold.woff2') format('woff2'),
        url('./gt-pressura/GTPressuraMonoTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}