
:root {
  /* Colors */
  --black: rgba(10,10,10,1);
  --blackish: rgba(30,30,30,1);
  --grey: rgba(193, 193, 193, 1);
  --dark-grey: grey;
  --orange: rgba(255, 69, 0, 1);
  --background-color: var( --black);
  --foreground-color: var(--grey);
  --accent-color: var(--orange);
  --hover-color: var(--blackish);
  --background-accent: rgba(20,20,20,1);

  /* Fonts */
  --font-family: 'GT Pressura Mono', helvetica, arial, sans-serif;

  /* Font size */
  --font-size-normal: 16px;
  --line-height-normal: 1.4em;
  --line-height-text: 1.7em;
  --line-height-compressed: 1em;

  /* Sizing */
  --default-padding: 30px;
  --double-padding: 60px;


  /* z */
  --hamburger-z: 1001;
  --navigation-z: 1000;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  color: var(--foreground-color);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-size: var(--font-size-normal);
  font-weight: normal;
}

mux-player {
  /* Hide all controls at once */
  --controls: none;
}

img { 
  max-width:100%;
}

.content a {
  text-decoration: underline;
  text-decoration-color: var(--dark-grey);
}

.content h2 {
  background: var(--dark-grey);
  color: var(--black);
  padding: 1ch;
  margin-top: 6em;
}

.content hr {
  border: 1px solid var(--dark-grey);
  margin: 1em 0;
  height: 0;
  appearance: none;
  display: none;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  margin-right: auto;
  margin-left: auto;
}

.content p:first-child {
  margin-top: 0;
}